# Database for storing everything except PDF files
DATABASE_URL=

# Uploadthing for storing PDF files - https://uploadthing.com/dashboard
UPLOADTHING_SECRET=
UPLOADTHING_TOKEN=
UPLOADTHING_APP_ID=

# OpenAI for answering PDF questions - https://platform.openai.com/
OPENAI_API_KEY=
OPENAI_MODEL=gpt-5-2025-08-07

# Pinecone for long-term vector storage - https://www.pinecone.io/
PINECONE_API_KEY=
PINECONE_ENVIRONMENT=
